<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <context id="myBatis3"  targetRuntime="MyBatis3">

        <!--数据库链接地址账号密码-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost/SpikeActivity" userId="root" password="134679">
        </jdbcConnection>

        <!--生成Model类存放位置-->
        <javaModelGenerator targetPackage="com.mojito.mojitoboot.core.daomodel" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapping" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!--生成Mapper接口存放位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.mojito.mojitoboot.common.mapper"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!--生成对应表及类名-->
        <!--<table tableName="user_info" domainObjectName="UserDO" enableCountByExample="false"-->
               <!--enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false" >-->
        <!--</table>-->
        <!--<table tableName="user_password" domainObjectName="UserPasswordDO" enableCountByExample="false"-->
               <!--enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false" >-->
        <!--</table>-->
        <table tableName="goods" domainObjectName="GoodsDO" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" >
        </table>
        <table tableName="goods_stock" domainObjectName="GoodsStockDO" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" >
        </table>
    </context>
</generatorConfiguration>